<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Module04 L02 Sessions 2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SiteController</display-name>
    <servlet-name>SiteController</servlet-name>
    <servlet-class>servlets.SiteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiteController</servlet-name>
    <url-pattern>/SiteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberAreaServlet</display-name>
    <servlet-name>MemberAreaServlet</servlet-name>
    <servlet-class>servlets.MemberAreaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberAreaServlet</servlet-name>
    <url-pattern>/MemberAreaServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>MemberAreaFilter</display-name>
    <filter-name>MemberAreaFilter</filter-name>
    <filter-class>filters.MemberAreaFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MemberAreaFilter</filter-name>
    <url-pattern>/MemberAreaServlet</url-pattern>
  </filter-mapping>
</web-app>